<?xml version="1.0"?>

<model>
  <name>test user avatar</name>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sandro Weber</name>
    <email>webers@in.tum.de</email>
  </author>

  <description>
    A model to test a very basic physical representation of the user.
    Overall height: 175cm
  </description>
</model>
